<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Lec02 GET!</h1>

  <div th:if="${userName}">
    Hi [[${userName}]]
  </div>

  <div th:if="${entry}">
    <h2>エントリー</h2>
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${users}"><a th:href="@{/match(name=${user.name})}"> [[${user.name}]]</a></li>
    </ul>
  </div>

  <h2>アクティブな試合</h2>
  <div th:each="matchInfo,stat:${matchInfo}">
    <tr>
      <td>ID:[[${matchInfo.id}]]</td>
      <td>user1:[[${matchInfo.user1}]]</td>
      <td>user2:[[${matchInfo.user2}]]</td>
      <td>isActive:[[${matchInfo.isActive}]]</td>
    </tr>
  </div>


  <h2>試合結果</h2>
  <div th:each="matches,stat:${matches}">
    <tr>
      <td>ID:[[${matches.id}]]</td>
      <td>user1:[[${matches.user1}]]</td>
      <td>user2:[[${matches.user2}]]</td>
      <td>user1の手:[[${matches.user1Hand}]]</td>
      <td>user2の手:[[${matches.user2Hand}]]</td>
    </tr>
  </div>

</body>

</html>
